@media screen and (max-width: 576px) {
/* nav bar responsive */
    .nav-container{flex-direction: column;}

/* header responsive */
    .header-container{flex-direction: column;
    height: 780px;}

    .header-left{width: 85%;
        margin-left: 0;
        padding-left: 0;
        margin-top: 30px;}
    
    .header-left>p{text-wrap: wrap; width: 50%;}

    .header-right{width: 30%;
        position: relative;
        flex-direction: column;
        left: -25%;
        margin-left: 0;
        padding-left: 0;}

/* Change Your habit responsive */

    .change-text{width: 50%;
        padding-top: 80px;}

    .change-cards{
        grid-template-columns: repeat(1, 1fr);
        padding-left: 120px;
        
    }

/* Run an Extra Mile Easily responsive */
    .run-container{flex-direction: column;
        height: 650px;
        width: 484px;}

    .run-left{text-align: center;width: 100%;}

    .run-left button{width: 100%;}

    .run-right{width: 100%;padding-left: 0;}
     
/* Trainings and Exercise responsive */

    .training-text{width: 50%;
        padding-top: 80px;
        text-align: center;}

    .training-images{
        flex-direction: row;
        grid-template-columns: repeat(4, 1fr);
        width: 50%;
    }

    /* .training-images{width: 20%;} */

/* Meet Our Team responsive */
    .meet-text{width: 50%;
        padding-top: 20px;
        text-align: center;}

    .training-images{
        grid-template-columns: repeat(1, 1fr);
        width: 50%;
    }

    .meet-cards{
        grid-template-columns: repeat(1, 1fr);
        width: 48%;
    }

/* Footer responsive */
    .footer-container{
        flex-direction: column;
        width: 50%;
        gap: 1px;
    }

 }